# متغيرات Cloudflare Pages / Vite
VITE_SUPABASE_URL=https://giojwpngkxddnuhqqvnt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpb2p3cG5na3hkZG51aHFxdm50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1OTY2NDAsImV4cCI6MjEwNTE3MjY0MH0.L8-wD7Tv_WKV_gdVqYI9DL-K_yLkJEdy7TP4wyBIwyM
VITE_VAPID_PUBLIC_KEY=BKrC6sqPLXPxCKMzqWwWxdThQltkzdwqt1jP9ithCfwwvDrUXWpwIW57ekYbvi5u9r5DiyjnQ8tV0mCWPAfoaeQ
